*.dat
auto-save-list
*.eld
custom.el
recentf
elpa
notes
swank
url
.*
eshell
*.cache
eln-cache
*~
vendor/distel
vendor/ensime
ido.last
history
nov-places
tramp
org-persist
bookmarks
tree-sitter
transient
logview-cache.extmap