<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>M2_HOME</key>
  <string>/Users/maris/bin/apache-maven</string>

  <key>JAVA_HOME</key>
  <string>/Library/Java/JavaVirtualMachines/jdk1.8/Contents/Home</string>

  <key>EMACS_DEFAULT_THEME</key>
  <string>tomorrow-night-eighties</string>
  
  <key>EMACS_DEFAULT_FONT</key>
  <string>Menlo-15</string>
</dict>
</plist>




