[Unit]
Description=Life Docker Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a life
ExecStop=/usr/bin/docker stop life

[Install]
WantedBy=multi-user.target