[Unit]
Description=Mynginx Docker Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a mynginx
ExecStop=/usr/bin/docker stop mynginx

[Install]
WantedBy=multi-user.target